# hidupkan 
RewriteEngine on

# bukan file dan bukan direktori
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# alihkan ke path
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]

<filesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|sql)$">
 Order Allow,Deny  
 Deny from all 
</filesMatch>